parameters:
    credentials: "%wk_google_spreadsheet.credentials%"

services:
    wk_google_spreadsheet:
        class: Wk\GoogleSpreadsheetBundle\Services\SpreadsheetService
        arguments:
            - "@wk_google_oauth2_for_spreadsheets"

    wk_google_oauth2_for_spreadsheets:
        class: Wk\GoogleSpreadsheetBundle\Services\OAuth2ServiceRequest
        public: false
        calls:
            - [setCredentials, ["%credentials.scope%", "%credentials.client_email%", "%credentials.private_key%"]]
