services:
    wk_google_spreadsheet:
        class: Wk\GoogleSpreadsheetBundle\Services\SpreadsheetService
        arguments:
            - "@wk_google_oauth2_for_spreadsheets"

    wk_google_oauth2_for_spreadsheets:
        class: Wk\GoogleSpreadsheetBundle\Services\OAuth2ServiceRequest
        public: false
        arguments:
            - "%wk_google_spreadsheet.credentials.scope%"
            - "%wk_google_spreadsheet.credentials.client_email%"
            - "%wk_google_spreadsheet.credentials.private_key%"
